.modal-sty {
    height: 100vh;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    z-index: 9999999;
    visibility: visible;
    .modal-body {
        height: 20vh;
        background: white;
        border-radius: 0.5vh;
        width: 36.6vw;/* 36.6vw 500px */
        top: 50%;
        left: 50%;
        margin-top: -45.08vh; /* Negative half of height. 15.08vh 100px*/
        margin-left: -18.3vw; /* Negative half of width. 18.3vw 250px*/
        color: #252525;

        .modal-title h5 {
            font-size: 2vh;
            text-align: center;
            font-weight: bold;
        }
        .modal-middle p {
            color: #252525;
            font-weight: 600;
            border: 0px;
            font-size: 2vh;
        }

        button {
            padding: 0.5vh;
            margin: 0;
            border-color: #252525;
            color: #252525 !important;
            background: none !important;
            font-weight: 500;
            
        }
        .btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
            outline: 0 !important;
            outline-offset: 0  !important;  
            background-image: none  !important;
            -webkit-box-shadow: none !important;
            box-shadow: none  !important;
          }
    }
    @media(max-width: 950px) {   
        .modal-body {
            height: 23.5vh;
            width: 56.6vw;/* 36.6vw 500px */
            margin-left: -28.3vw; 
        }
    }
    @media(max-width: 500px) {   
        .modal-body {
            width: 80.6vw;/* 36.6vw 500px */
            margin-left: -40.3vw; 
        }
    }
}