@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.firstshowcase-sty-cover {
    height: 100%;
    div {
        height: 100%;
        color: white;
        font-size: 3vh;
        font-family: 'Press Start 2P', cursive;
    }
    .text-noted {
        // background: blue;
    }
    .image-grid {
        // background: yellow;
    }
}