@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Special+Elite&display=swap');

.firstshowcase-sty-cover {
    height: 100%;
    div {
        color: white;
        font-family: 'Special Elite', cursive;
    }
}
@media(max-width: 768px){
    .firstshowcase-sty-cover {
       
    }
}