
.firstshowcase-sty-cover {
    height: 100%;
    div {
        color: white;
        font-family: 'Special Elite', cursive;
    }
}
@media(max-width: 768px){
    .firstshowcase-sty-cover {
       
    }
}