
.contact-sty-cover {
    color: white;
    height: 100%;
    width: 100%;
    padding-top: 8vh;
    .heading {
        text-align: center;
        height: 5vh;
    }
    .heading h3 {
        font-size: 3.5vh;
        text-decoration: underline;
        text-decoration-color: #e83e8c;
        text-underline-position: under;
    }
    .contact-grid {
        height: 70vh;
        .contact-info {
            height: 100%;
            color: white;
            p{
                font-size: 2vh;
            }
            span {
                color:#e83e8c;
                font-weight: bold;
               font-family: "SpecialElite-Regular";
                cursor: pointer;
            }
            span:hover {
                text-decoration: underline;
                text-underline-position: under;
            }
        }
        .contact-form {
            height: 100%;
            form {
                button {
                    border-color: #e83e8c;
                    background: none;
                    color: white;
                    box-shadow: 5px 5px #494949;
                    font-weight: bold;
                   font-family: "SpecialElite-Regular";
                }
                button:hover {
                    border-color: white;
                    color: #e83e8c;
                }
                button:active {
                    border-color: white;
                    color: #e83e8c;
                    background: none;
                }
                button:focus {
                    border-color: white;
                    color: #e83e8c;
                    background: none;
                }
            }
        }
        
    }
    @media(max-width: 991px) {
        .contact-grid {
            .contact-info {
                height: 45%;
            }
        }
    }
    @media(max-width: 768px) {
        padding-top: 15vh;
        .contact-grid {
            height: 55vh;
            .contact-info {
                p{
                    font-size: 1.5vh;
                }
               
            }
        }
    }
    
}