
.showcasemiddle-text-sty-cover {
    text-align: center;
    width: 100%;
    color: white;
    top: 35%;
    position: absolute;
    vertical-align: middle;
    font-family: 'SpecialElite-Regular';
    h1 {
        font-size: 11vh;
    }
    p {
        margin: 0;
        font-size: 2.5vh;
    }
    button {
        border-right: 1px solid #e83e8c;
        border-bottom: 1px solid #e83e8c;
        box-shadow: 5px 5px #494949;
        border-radius: 5px;
        background: none;
        height: 5vh;
        width: 12vw;
        font-size: 2.5vh;
        color: white;
    }
    button:hover {
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 1px solid #e83e8c;
        border-top: 1px solid #e83e8c;
        background: none;
        color: #e83e8c;
    }
}
@media(max-width: 991px) {
    .showcasemiddle-text-sty-cover {
        top: 70%;
        h1 {
            font-size:10vh;
        }
        button {
            height: 5vh;
            width: 18vw;
        }
    }
}
@media(max-width: 500px){
    .showcasemiddle-text-sty-cover {
        top: 50%;
        h1 {
            font-size: 7vh;
        }
        p {
            font-size: 2.2vh;
        }
        button {
            height: 5vh;
            width: 30vw;
            font-size: 2.2vh;
        }
    }
}
@media(max-width: 350px){
    .showcasemiddle-text-sty-cover {
        button {
            width: 40vw;
        }
    }
}