.header-sty-cover {
    height: 8vh;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 99999;
    background: rgba($color: #252525, $alpha: 0.6);
    div{
        height: 8vh;
    }

    .header-logo {
        color: white;
        font-weight: bold;
        font-size: 4vh;
        padding-left: 50px;
        opacity: 1 !important;

        code span {
            font-size: 4.5vh;
        }
    }
    .header-link {
        color: white;
        transition: 0.2s all ease;
        font-weight: bold;
        font-size: 2.1vh;
        cursor: pointer;
        .color-tweak {
            color: #e83e8c;
            filter: invert(34%) sepia(96%) saturate(1990%) hue-rotate(310deg) brightness(95%) contrast(91%);
        }
        ul {
            float: right;
            background: none;
            // background: rgba($color: #000000, $alpha: 0.5);
        }
        ul li{
            background: none;
            border: none;
            padding: 0.90vw 0.9vw;
            transition: 0.2s all ease;    
        }
        ul li:hover{
            color: #e83e8c;
            filter: invert(34%) sepia(96%) saturate(1990%) hue-rotate(310deg) brightness(95%) contrast(91%);
            transform: scale(1.000);
            transform: scale(1.000);
        }
        ul li:focus{
            color: #e83e8c;
            filter: invert(34%) sepia(96%) saturate(1990%) hue-rotate(310deg) brightness(95%) contrast(91%);
            transform: scale(1.000);
            transform: scale(1.000);
        }
        ul li:active{
            color: #e83e8c;
            filter: invert(34%) sepia(96%) saturate(1990%) hue-rotate(310deg) brightness(95%) contrast(91%);
            transform: scale(1.000);
            transform: scale(1.000);
        }
    }
    
   
}
@media(max-width: 768px) {
    .header-sty-cover {
        height: 15vh !important;
    
        .header-logo {
            font-size: 5vh;
            margin-top: 12px;
            margin-left: 10px;
            z-index: 999;
            padding-left: 20px;
            code span {
                font-size: 5.5vh;
            }
        }
    }
}
@media(max-width: 500px) {
    .header-sty-cover {
        .header-logo {
            font-size: 2.5vh;
        }
        code span {
            font-size: 4.5vh;
        }
    }
}