.socialmedia-nav-sty-cover {
    color: white;
    height: 50vh;
    width: 3vw;
    position: fixed;
    left: 0;
    top: 30%;
    padding: 0;
    z-index: 99999;
    margin: 0;
    h5 {
        color: #e83e8c;
        font-size: 2vh;
        font-weight: normal;
        height: 2.14vh;
    }
    .social {
        color: white;
        
        div {
            // border-bottom: 1px solid white;
            border-radius: 50%;
            height: 7.14vh;
            cursor: pointer;
            .social-name {
                font-size: 2vh;
                position: absolute;
                margin-left: 5.3vw;
                display: none;
            }
            &:hover .social-name{
                opacity: 0.5;
                display: block;
             }
            img {
                width: 80%;
                height: 80%;
                -webkit-filter: invert(100%);
                filter: invert(100%);
                transition: 0.2s all ease;
                &:hover {
                    width: 6vw;
                    -webkit-filter: invert(34%) sepia(96%) saturate(1990%) hue-rotate(310deg) brightness(95%) contrast(91%);
                    filter: invert(34%) sepia(96%) saturate(1990%) hue-rotate(310deg) brightness(95%) contrast(91%);
                    transform: scale(1.000);
                }
                
            }
        }
        // .whatsapp {
        //     //border-bottom: 1px !important;
        // }
    }
  }
  @media(max-width: 1200px) {
        .socialmedia-nav-sty-cover {
            width: 4vw;
            .social {
                div {
                    .social-name {
                        margin-left: 6.7vw;
                    }
                }
            }
        }
    }
  @media(max-width: 768px) {
        .socialmedia-nav-sty-cover {
            width: 4.5vw;
            .social {
                div {
                    .social-name {
                        margin-left: 5.7vw;
                    }
                }
            }
        }
    }
    @media(max-width: 630px) {
        .socialmedia-nav-sty-cover {
            width: 6vw;
        }
    }
  @media(max-width: 500px) {
        .socialmedia-nav-sty-cover {
            width: 8vw;
            .social {
                div {
                    .social-name {
                        margin-left: 10.5vw;
                    }
                }
            }
        }
    }
    @media(max-width: 370px) {
        .socialmedia-nav-sty-cover {
            width: 10vw;
        }
    }